<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FantasySurf"
      connectionString="Server=e0689b94-7a50-42d1-8458-a75f011d3256.sqlserver.sequelizer.com;Database=dbe0689b947a5042d18458a75f011d3256;User ID=qjlzygtbupanmhby;Password=f3X7x7ULtYUjGtHjn3w4nWUP4qyca7UozrMfTMJQJWKhBKBDcYsH3hTrghchGRLu;Connection Timeout=10"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>